*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  margin-bottom: 158px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.result {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 16px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 399px;
}

.content__list-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 296px;
  gap: 30px;
  position: relative;
}

.result__video-container {
  position: relative;
  background: #000;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.content__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.content__video-card {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  display: block;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  margin: 1px 0 5px;
}

.title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 75px;
  line-height: 94%;
  font-weight: 700;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
}

.content__video-card-title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 30px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0 6px;
}

/* w3c валидатор ругается на свойство line-camp, а без line-camp ругается отладчик [{
	"message": "Также определите стандартное свойство \"line-clamp\" для совместимости"*/
.content__video-card-description {
  font-size: 18px;
  line-height: 16.2px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: 0;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  color: #fff;
  appearance: none;
  padding: 2px 0;
  width: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

/* добавляем лейблу обводку при табе через has, но могут быть проблемы в FF. Пришлось записывать 2 в 1 has  */
.search-form__label:has(
  .search-form__textfield:focus-visible,
  .search-form__checkbox:focus-visible
) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  display: inline-block;
  box-sizing: border-box;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  font-weight: 700;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  font-size: 18px;
  min-height: 34px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
}

/* состояния кноп*/
.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__list-item {
  padding: 0 3px;
}